.tableFooter {
  padding: 8px 0px;
  width: 100%;
  font-weight: 500;
  text-align: left;
  font-size: 16px;
  color: #2c3e50;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: right;
}

/* Button Styles */
.button {
  border: none;
  padding: 7px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
}

.activeButton {
  color: white;
  background: #185adb;
}

.inactiveButton {
  color: #2c3e50;
  background: #f9f9f9;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .tableFooter {
    font-size: 14px;
    justify-content: space-between;
  }

  .button {
    padding: 6px 12px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .tableFooter {
    font-size: 12px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .button {
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

@media (max-width: 576px) {
  .tableFooter {
    font-size: 12px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .button {
    padding: 5px 8px;
    font-size: 12px;
    margin-bottom: 5px;
  }
}
